.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    height: 100%;
}

.example-sidenav {
    padding: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container{
    background-color: rgb(233, 233, 233);
}