<main class="main">
  <mat-toolbar *ngIf="isLoggedIn" color="primary">
    <button (click)="drawer.toggle()" mat-icon-button aria-label="Toggle navigation">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button (click)="onLogout()" mat-icon-button aria-label="Share">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container *ngIf="isLoggedIn" class="example-container" hasBackdrop="true">
    <mat-drawer class="example-sidenav" #drawer mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/upload" (click)="drawer.toggle()" routerLinkActive="active" ariaCurrentWhenActive="page">Subir Imagen</a>
        <a mat-list-item routerLink="/search" (click)="drawer.toggle()" routerLinkActive="active" ariaCurrentWhenActive="page">Buscar Imágenes</a>
        <a mat-list-item routerLink="/register" (click)="drawer.toggle()" routerLinkActive="active" ariaCurrentWhenActive="page">Registrar</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div *ngIf="!isLoggedIn" class="content">
    <router-outlet></router-outlet>
  </div>
</main>